<div class="container">
    <form [formGroup]="contactForm" class="row g-3 needs-validation" novalidate (submit)="enviar($event)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email </label>
            <input type="email" 
            class="form-control" 
            id="exampleFormControlInput1" 
            placeholder="name@example.com" 
            formControlName="email"
            [ngClass]="{'is-invalid' : hasErrors('email', 'required') || hasErrors('email', 'email')}"
            >
            @if (hasErrors('email', 'required')) {
                <span class="text-danger">You have to complete this field</span>
            }
            @if (hasErrors('email', 'email')) {
                <span class="text-danger">Invalid email format</span>
            }

        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control"
            id="exampleFormControlTextarea1" 
            rows="5" 
            formControlName="message"
            [ngClass]="{'is-invalid' : hasErrors('message', 'required') || hasErrors('message', 'minlength')}"
            ></textarea>
            @if (hasErrors('message', 'required')) {
                <span class="text-danger">You have to complete this field</span>
            }
            @if (hasErrors('message', 'minlength')) {
                <span class="text-danger">You have to write at least 10 characters</span>
            }
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>